body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-section {
    display: flex;

}

.content {
    width: 50%;
    padding: 3% 5%;

}

.content img {
    width: 90%;
}

h1 {
    font-size: 46px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
}

.scolor {
    color: rgb(255, 145, 0);
}

.fbutton {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 99, 71));
    padding: 10px 40px;
    border-radius: 5px;
}

.topsection {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    object-fit: cover;
}

.dreambig {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experiences {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 100px;
}

.experiences h1 {
    padding-left: 15px;
}

.box-content {
    width: 40%;
    background-color: rgba(255, 255, 255, 0);
    margin: 0% 5%;
    padding: 20px 20px;
    box-shadow: 10px 10px 40px rgb(121, 120, 120);
    border-radius: 5px;
}

.orange {
    color: orange;
}

#border-one {
    border-left: 10px solid;
    border-image: linear-gradient(tomato, rgb(255, 157, 0));
    border-image-slice: 1;
}

#border-two {
    border-left: 10px solid;
    border-image: linear-gradient(blue, rgb(37, 185, 243));
    border-image-slice: 2;
}

footer p {
    text-align: center;
    color: rgb(102, 102, 102);
    padding-top: 15px;
    padding-bottom: 15px;
}